
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

/* body{
  background-color: rgb(233, 233, 233);

} */



.app_div{
  background-color: aqua;
}

.header_div{
  height: 10%;
  border: #707070 2px solid;
  background-color: #FFFFFF;
  width: 100%;
  border-radius: 0px 0px 5px 5px;
}

.Header_txt{

  display: flex;
  justify-content: end;
  align-items: center;
  width: 97%;
  font-size: 2rem;
  text-transform: uppercase;
 

}

.screen_body{
  height: 90%;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  background-color: #F0F0F0;
  justify-content: center;

}

.page_div{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #707070; */
  gap: 2rem;
}

.form_div{
  background-color: #2699FB; 
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  /* justify-content: center; */
  height: 50%;
  width: 35%;
  border: #707070 1px solid;
  /* gap: 1rem; */
  /* padding: 1rem; */
  border-radius: 1rem;
}

.input_text{
  background-color: #2699FB;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: #FFFFFF 1px solid;

  /* border: red 1px solid; */
  width: 70%;
  height: 2rem;
  outline: none;
  font-size: large;
  /* color: #FFFFFF; */

}

.input_label{
  display: flex;
  border: red 1px solid;
  /* text-align: center; */
  font-size: 2rem; 
  color: #FFFFFF;
  justify-content: center;
  align-items: flex-end;
  height: 5rem;
  pointer-events: none;
}

.logIn_btn_div{
  display: flex;
  justify-content: end;
  /* border: red 1px solid; */
  width: 35%;
  height: 12%;
}

.login_btn{
  width: 40%;
  background-color: #2699FB;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 2rem;
  border-radius: 5px;
}

.registration_ling_div{
  display: flex;
  justify-content: end;
  /* border: red 1px solid; */
  width: 45%;
  height: auto;
}

.registration_ling{
  text-decoration: none;
  color: black;
  font-size: larger;
  text-align: center; 
}

.registration_span{
  color: #2699FB;
}

/* -----------------------------------------------LOG IN PAGE---------------------------- */


.form_div_2{
  background-color: #2699FB; 
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 35%;
  border: #707070 1px solid;
  gap: 10px;
  /* padding: 1rem; */
  border-radius: 1rem;
}

.input_label_2{
  display: flex;
  /* border: red 1px solid; */
  /* text-align: center; */
  font-size: 1rem; 
  color: #FFFFFF;
  justify-content: center;
  align-items: flex-end;
  height: 2rem;
  pointer-events: none;
}


.logIn_btn_div_2{
  display: flex;
  justify-content: space-between;
  /* border: red 1px solid; */
  width: 35%;
  height: 12%;
}

/* --------------------------------------- Sign Up-------------------------------- */

.MealTime_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height: 40%;
  background-color: #2699FB;
  width: 60%;
  border-radius: 10px;
  gap: 1rem;
  
}


.time_div{
  display: flex;
  /* border: red 1px solid; */
  height: auto;
  justify-content: center;
  
}

.time_label{
  /* border: black 1px solid; */
  width: auto;
  font-size: 2rem;
  color: #FFFFFF;
}

/* .time{
  border: black 1px solid;
  height: auto;
  /* font-size: 1.5rem; */

.two_btn_div{
  display: flex;
  /* background-color: aqua; */
  width: 60%;
  align-self: center;
  height: auto;
  margin-top: 2%;
  justify-content: space-between;
}

.two_btn{
  height: 3rem;
  width: 28%;
  background-color: #2699FB;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: larger;
}

/* ---------------------------------- USER QUEUE-------------------------------------- */

.position_div{
  display: flex;
  align-self: center;
  background-color: #2699FB;
  height: 25%;
  width: 40%;
  align-items: center;
  border-radius: 6px;
}

.c_position_txt{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #FFFFFF;
    height: 70%;
    width: 76%;
    text-align: center;

  /* border: black 1px solid; */
}

.c_position_num{
  display: flex;
  width: 20%;
  height: 70%;
  background-color: #FFFFFF;
  /* border: black 1px solid; */
  border-radius: 6px;
  font-size: 4rem;
  justify-content: center;
  align-items: center;
  
}

.btn_type_1{

  display: flex;
  align-self: center;

  background-color: #2699FB;
  width: 18%;
  height: 10%;
  margin-top: 4%;

  border-radius: 6px;

  color: #FFFFFF;

  justify-content: center;
  align-items: center;

  font-size: 1.5rem;

}

/* -------------------------------- User queue------------------------------------ */